    /* Define the child_main class with a fixed width and height.
   The font size is set to 12vh, which means it will be 12% of the viewport height. */
    
    .child_main {
        width: 100px;
        height: 100px;
        font-size: 12vh;
    }
    /* Define the parent id with a border of 3px solid red.
   The display property is set to flex, which allows the child elements to be arranged in a flexible layout.
   The flex-direction property is set to row-reverse, which means the child elements will be arranged in a row from right to left. */
    
    #parent {
        width: 90vw;
        height: 90vh;
        border: 3px solid red;
        display: flex;
        /* justify-content: space-around; */
        justify-content: space-evenly;
        /* justify-content: space-between; */
        /* flex-direction: row-reverse; */
        /* Uncomment the line below to arrange the child elements in a column from bottom to top. */
        /* flex-direction: column-reverse; */
        flex-wrap: wrap;
    }
    /* Define the background color for each child element. */
    
    #one {
        background-color: blue;
    }
    
    #two {
        background-color: rgb(0, 238, 255);
    }
    
    #three {
        background-color: rgb(195, 255, 0);
    }
    
    #four {
        background-color: rgb(255, 174, 0);
    }
    
    #five {
        background-color: rgb(255, 0, 0);
    }
    
    #six {
        background-color: rgb(0, 149, 255);
    }
    
    #seven {
        background-color: rgb(195, 0, 255);
    }
    /*DELIMITER*/
    /*DELIMITER*/