#square {
    height: 300px;
    width: 300px;
    background-color: goldenrod;
}

#square:hover {
    animation-name: ball;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}

@keyframes ball {
    0% {
        height: 300px;
        width: 400px;
        background-color: red;
    }
    25% {
        height: 350px;
        background-color: rgb(68, 0, 255);
    }
    50% {
        /* height: 400px; */
        background-color: red;
    }
    100% {
        border-radius: 50%;
        background-color: rgb(215, 121, 13);
    }
}